@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: white;
  color:black;
  font-family: Open Sans;
  text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: black;
    padding: 12px 15px;
    text-decoration: none;
  }
  
  .paginaMuro {
      width: 100%;
  }

  .muro {
      width: 30%;
      margin: auto;
  }

  .menuVergas {
    width: 20%;
    margin: auto;
  }
  .wall {
    background-color: rgba(255, 254, 254, 0.24);
    background-image: url("https://images.vexels.com/media/users/3/157400/isolated/preview/b4bca87dcb08043c59bb030665e90030-inicio-con-un-icono-de-coraz--n-negro-by-vexels.png");
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 2rem;
    height: 2rem;
    font-size: .5rem;
    text-align: top center;
    background: cover;
    font-weight: bold;

  }

  .search{
    background-color: rgba(255, 254, 254, 0.24);
    background-image: url("https://cdn2.iconfinder.com/data/icons/e-commerce-icon-set-2/100/ecommerce-collection-outlines-23-512.png");
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 2rem;
    height: 2rem;
    font-size: .7rem;
    text-align: top;
    background: cover;
    font-weight: bold;
    
  }
  .public{
    background-color: rgba(255, 254, 254, 0.24);
    background-image: url("https://cdn0.iconfinder.com/data/icons/miscellaneous-40-mix-black/128/cholo_person_man-512.png");
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 2rem;
    height: 2rem;
    font-size: .7rem;
    text-align: top;
    background: cover;

  }



  .likes{
    background-color:rgba(255, 254, 254, 0.24);
    background-image: url("https://cdn3.iconfinder.com/data/icons/hand-signs/432/rock-alt-512.png");
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 2rem;
    height: 2rem;
    font-size: .7rem;
    text-align: top;
    background: cover;
  }

  .profile{
    background-image: url("http://cdn.onlinewebfonts.com/svg/img_266351.png");
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 2rem;
    height: 2rem;
    font-size: .7rem;
    text-align: top;
    background: cover;
  }
  .btnhome{
    cursor: pointer;
    width: 3rem;
    height: 3rem;

  }

  #publication{
    width: 30rem;
    height: 30rem;
  }
  .card {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    margin: 20rem;
    background-image: linear-gradient(to right, rgba(248, 113, 113, 0.37),rgba(255, 194, 80, 0.144),rgba(250, 250, 0, 0.158),rgba(88, 214, 88, 0.199),rgba(5, 167, 231, 0.164),rgba(76, 0, 130, 0.171));
  }
  

  